.Blog {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    text-align: center;
}


.Blog ul{
    list-style: none;
}
.Blog ul li {
   display: inline-block;
   margin: 0 20px;
}
.Blog ul li a{
    text-decoration: none;
 }
 .Blog ul li a:hover,
 .Blog ul li a:active,
 .Blog a.active{
    color: #fa923f
 }
